html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

footer{
    height: 5%
}

body {
    margin-bottom: 60px;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    height: 85%;
}

.box {
    display: flex;
    flex-direction: column;
}

#chat-container {
    width: 100%;
    height: 100%;
    background-color: #dddfe8;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    flex: 1;
}

#chat-container-header {
    border-radius: 3px 3px 0% 0%;
    height: 5%;
    background-color: aliceblue;
}

.vertical-left {
    border-left: 1px solid #808080;
    height: 100%;
}

.vertical-right {
    border-right: 1px solid #808080;
    height: 100%;
}

.go-back-text {
    margin-top: 0px;
    margin-left: 12px;
    text-align: center;
}

    .go-back-text:hover {
        background-color: #e2dced;
    }

.message-input-container {
    border-radius: 0% 0% 5px 5px;
    margin-top: auto;
    margin-bottom: 0;
    height: 5%;
    background-color: #f8f8f8;
}

.message-input {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-color: none;
}

.messages-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
}

.message-container{
    margin-top: 2px;
    background-color: #fffaed;
    width: 100%;
    min-height: 10%;
}

.message-container-sender-name {
    font-weight: bold;
    text-decoration: underline;
}

.chat-dialog-name{
    font-weight: bold;
    text-align: center;
}

.chat-row{
    max-height: 20%;
}

.chat-row:hover{
    background-color:#ededed;
}

.register-input{
    margin-top: 5px;
}

.unread-messages-count{
    background-color: #4c4fff
}